.characters__wrapper--main {
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.characters__wrapper {
  background-color: var(--green);
  border: 3px var(--blue) dotted;
  margin: 10px;
}

.characters__wrapper img {
  width: 40%;
  padding: 10px;
  border: 1px var(--blue) dotted;
  border-radius: 50%;
}
