.characters__wrapper--main {
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.characters__wrapper {
  background-color: var(--green);
  border: 3px var(--blue) dotted;
  margin: 10px;
}

.characters__wrapper img {
  width: 40%;
  padding: 10px;
  border: 3px var(--blue) dotted;
  border-radius: 50%;
}

.characters__wrapper--main__button--load {
  padding: 10px;
  background-color: var(--bluegreen);
  color: var(--green);
}

.characters__wrapper a:link {
  text-decoration: none;
}

.characters__wrapper--main__button--wrapper {
  display: flex;
  margin: 15px;
  flex-direction: row;
  justify-content: space-evenly;
}

.character--filter {
  display: flex;
  margin: 15px;
  flex-direction: row;
  justify-content: space-evenly;
}

.characters--filter {
  padding: 10px;
  background-color: var(--blue);
  color: white;
}

.character__singlePage h2 {
  padding: 10px;
}
