.character__singlePage--inner {
  background-color: var(--bluegreen);
  padding: 10%;
}

.character__singlePage--inner img {
  border-radius: 50%;
  border: var(--green) 2px solid;
}

.character__singlePage h2 {
  background-color: whitesmoke;
  box-shadow: black 1px;
  border: var(--green) 2px solid;
  margin: 5%;
}

.button__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button__container button {
  padding: 10px;
  background-color: var(--green);
  color: var(--bluegreen);
}

.characters__singlePage__favouritebutton {
  width: 10%;
  height: 10%;
  background-color: var(--green);
}
