@import "/src/style/color.css";
@import "/src/style/CharacterSinglePage.css";
@import "/src/style/Characters.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue);
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 15vh auto 15vh;
  height: 100vh;
}

.App__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px var(--green) dotted;
  margin-left: 5%;
  margin-right: 5%;
}

.App__header__navLinks {
  display: flex;
  justify-content: right;
  gap: 20px;
  margin-left: 5%;
}

.App__header__navLinks a {
  background-color: var(--bluegreen);
  padding: 10px;
  color: var(--green);
}

.App__header__navLinks a:hover {
  opacity: 80%;
  padding: 12px;
}

.App__header--left {
  display: flex;
  justify-content: left;
}

.App__header__logo {
  width: 100%;
  height: auto;
}

.home__rick__img {
  width: 100%;
}

.App__main {
  overflow-y: scroll;
}

.App__footer {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
  justify-content: center;
  color: white;
}

.App__footer--contact {
  display: flex;
  gap: 20px;
}
.App__footer--contact img {
  width: 20%;
  height: auto;
  filter: invert(66%) sepia(73%) saturate(324%) hue-rotate(43deg)
    brightness(97%) contrast(83%);
}

.App__footer--contact--phone {
  display: flex;
  justify-content: flex-end;
}

.App__footer--contact--email {
  display: flex;
  justify-content: flex-start;
}
